.pList{
    width: 100%;
    max-width: 1024px;
    max-width: x;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    
    padding: 10px;
}

.pListItem{
    flex:1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}

.pListImg{
    /* width: 100%; */
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.pListTitles>h1{
    font-size: 19px;
    
}

.pListTitles>h2{
    font-size: 15px;
    font-weight: 450;

}